<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="ConnectionString" connectionString="data source=54.175.142.224,1433; initial catalog=athlinks; user id=sa; password=this5entenc3!sfalse; persist security info=True;packet size=8192"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>